.form-passwordRecovery {
  width: 100%;
  color: #392a22;
  max-width: 450px;
  padding: 15px;
  font-size: 19px;
  margin: auto;
}

.form-passwordRecovery .form-group:focus-within {
  z-index: 5;
}

.form-passwordRecovery input {
  margin-bottom: 10px;
}

.input-padrao {
  box-shadow:  none;
  border: 1px solid #82613e;
  border-radius: 2px !important;
}

.input-padrao:focus{
  box-shadow:  none;
  border: 1px solid #82613e;
}

.text-input {
  font-size: 20px;
  font-weight: bold;
}

.btn-apoio-password, .btn-conversao-password {
  width: 80%;
  padding: 10px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: inherit;
}

.text-input-senhas {
  font-size: 18px;
  font-weight: bold;
}


.reset-input-senhas{
  margin-bottom: 0px !important;
}

.span-err-reset{
font-size: 12px;
color: red;
margin-top: 4px;
margin-bottom: 0;
}